.dropdown {
  width: 100%;
  background: #ff6060;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  position: sticky;
}

.dropdown > p {
  color: white;
}

.dropdown-arrow {
  width: 15px;
  border-radius: 0px;
}

.dropdown-content {
  background: #f7f7f7;
  border-radius: 0 0 25px 25px;
  padding: 10px;
}
.dropdown-content > p,
li {
  color: #ff6060;
  font-size: 18px;
  margin: 0 10px;
}

.dropdown-content > ul {
  margin: 0;
  padding: 0;
}

.button-content {
  width: 100%;
  background: #f7f7f7;
  border-radius: 10px;
  margin-top: 10px;
}
