.slideImg {
  width: 100%;
  object-fit: cover;
  height: 415px;
  border-radius: 25px;
  position: relative;
}

.slideblock {
  position: relative;
}

.arrow {
  border: none;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
  top: 0%;
  bottom: 0%;
  background: transparent;
  cursor: grab;
}

.arrow > img {
  height: 79.19999694824219px;
  width: 46.68000411987305px;
}

.rightArrow {
  right: 0;
}

.slideshow {
  max-height: 500px;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
}

.slideshow > img {
  width: 100%;
  object-fit: cover;
}

.counter {
  position: absolute;
    bottom: 0%;
    left: 50%;
    background: transparent;
    color: white;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
  .slideshow {
    max-height: 255px;
  }
  .slideImg {
    height: 255px;
  }

  .arrow > img {
    width: 12px;
    height: 20px;
  }
  .counter {
    visibility: hidden;
  }
}