
.informations {
  display: flex;
  justify-content: space-between;
}

.informations-titles > H2, H3 {
  margin: 0;
}

.informations-content {
  display: flex;
  justify-content: space-between;
}

.bloc-picture-name {
  width: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bloc-picture-name > img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-left: 10px;
}

.dropdown-block {
  display: flex;
  column-gap: 60px;
}

.dropdown-details {
  display: flex;
  flex: 1;
}

.block-infos {
  margin-left: 20px;
  margin-right: 20px;
}

.host-rating {
  margin-top: 15px;
}

.location-title {
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .dropdown-block {
    flex-direction: column;
  }

  .informations-content {
    flex-direction: column;
  }

  .host-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
