.NotFound {
  font-family: Montserrat;
  font-size: 288px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 96, 96, 1);
  margin: 0;
}

.notfound-subtext {
  text-align: center;
  color: rgba(255, 96, 96, 1);
  font-size: 36px;
}

.return-home,
.return-home a {
  text-align: center;
  color: rgba(255, 96, 96, 1);
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .NotFound {
    font-size: 180px;
    line-height: 150px;
    margin: 20px;
  }
  .notfound-subtext {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .NotFound {
    font-size: 120px;
  }
  .return-home,
  .return-home a {
    font-size: 14px;
  }
}
