.not-found {
  font-family: Montserrat;
  font-size: 288px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 96, 96, 1);
  margin: 0;
}

.not-found-subtext {
  text-align: center;
  color: rgba(255, 96, 96, 1);
  font-size: 36px;
}

.return-home,
.return-home a {
  text-align: center;
  color: rgba(255, 96, 96, 1);
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .not-found {
    font-size: 180px;
    line-height: 150px;
    margin: 20px;
  }
  .not-found-subtext {
    font-size: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .not-found {
    font-size: 96px;
    margin-top: 50px;
  }

  .not-found-subtext {
    font-size: 18px;
  }
  .return-home,
  .return-home a {
    margin-top: 100px;
    font-size: 14px;
  }
}
